## Import libraries

In [71]:
import pandas as pd
from sqlalchemy import create_engine
import numpy as np

## Extract data from SQL server

In [72]:
# Extract the source data from the Bronze layer in SQL Server

server = 'mohamedibrahim'
database = 'DataWarehouse'

connection_string = (
    f'mssql+pyodbc://mohamedibrahim/DataWarehouse'
    '?driver=ODBC+Driver+17+for+SQL+Server'
    '&Trusted_Connection=yes'
)
engine = create_engine(connection_string)

query = "SELECT * FROM bronze.crm_cust_info"
df = pd.read_sql(query, engine)

## Data Overview

In [73]:
df.head()

,cst_id,cst_key,cst_firstname,cst_lastname,cst_marital_status,cst_gndr,cst_create_date
0,11000.0,AW00011000,Jon,Yang,M,M,2025-10-06
1,11001.0,AW00011001,Eugene,Huang,S,M,2025-10-06
2,11002.0,AW00011002,Ruben,Torres,M,M,2025-10-06
3,11003.0,AW00011003,Christy,Zhu,S,F,2025-10-06
4,11004.0,AW00011004,Elizabeth,Johnson,S,F,2025-10-06

In [74]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18494 entries, 0 to 18493
Data columns (total 7 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   cst_id              18490 non-null  float64
 1   cst_key             18494 non-null  object
 2   cst_firstname       18486 non-null  object
 3   cst_lastname        18487 non-null  object
 4   cst_marital_status  18487 non-null  object
 5   cst_gndr            13916 non-null  object
 6   cst_create_date     18490 non-null  object
dtypes: float64(1), object(6)
memory usage: 1011.5+ KB

In [75]:
df.isnull().sum()

cst_id                   4
cst_key                  0
cst_firstname            8
cst_lastname             7
cst_marital_status       7
cst_gndr              4578
cst_create_date          4
dtype: int64

In [76]:
df.duplicated().sum()

0

In [77]:
# Checks each object column for unwanted spaces (leading spaces, trailing spaces, multiple spaces)
for col in df.select_dtypes(include='object').columns:
    has_unwanted_spaces = False
    
    # Iterate through non-null values and check each one
    for value in df[col][df[col].notna()]:
        # Convert to string and check for unwanted spaces
        str_value = str(value)
        # Check for leading/trailing spaces or multiple consecutive spaces
        if str_value != str_value.strip() or '  ' in str_value:
            has_unwanted_spaces = True
            break
    
    if has_unwanted_spaces:
        print(f"Unwanted spaces found in column: {col}")

Unwanted spaces found in column: cst_firstname
Unwanted spaces found in column: cst_lastname

## Data Inspection & Cleaning

#### Column "cst_id"

In [78]:
df[df["cst_id"].isnull()]

,cst_id,cst_key,cst_firstname,cst_lastname,cst_marital_status,cst_gndr,cst_create_date
18446,NaN,SF566,None,None,None,None,None
18482,NaN,PO25,None,None,None,None,None
18492,NaN,13451235,None,None,None,None,None
18493,NaN,A01Ass,None,None,None,None,None

In [79]:
df["cst_id"].is_unique

False

In [80]:
df=df.dropna(subset=['cst_id'])

In [81]:
df[df.duplicated("cst_id", keep=False)]

,cst_id,cst_key,cst_firstname,cst_lastname,cst_marital_status,cst_gndr,cst_create_date
18433,29433.0,AW00029433,None,None,M,M,2026-01-25
18434,29433.0,AW00029433,Thomas,King,M,M,2026-01-27
18451,29449.0,AW00029449,None,Chen,S,None,2026-01-25
18452,29449.0,AW00029449,Laura,Chen,S,F,2026-01-26
18469,29466.0,AW00029466,None,None,None,None,2026-01-25
18470,29466.0,AW00029466,Lance,Jimenez,M,None,2026-01-26
18471,29466.0,AW00029466,Lance,Jimenez,M,M,2026-01-27
18478,29473.0,AW00029473,Carmen,None,None,None,2026-01-25
18479,29473.0,AW00029473,Carmen,Subram,S,None,2026-01-26
18490,29483.0,AW00029483,None,Navarro,None,None,2026-01-25
18491,29483.0,AW00029483,Marc,Navarro,M,None,2026-01-27

In [82]:
# Drop duplicated rows by indexes
df.drop([18433,18451,18469,18470,18478,18490],inplace=True)

In [83]:
df["cst_id"] = df["cst_id"].astype(int)

#### Column "cst_key"

In [84]:
df["cst_key"].unique().tolist()

['AW00011000',
 'AW00011001',
 'AW00011002',
 'AW00011003',
 'AW00011004',
 'AW00011005',
 'AW00011006',
 'AW00011007',
 'AW00011008',
 'AW00011009',
 'AW00011010',
 'AW00011011',
 'AW00011012',
 'AW00011013',
 'AW00011014',
 'AW00011015',
 'AW00011016',
 'AW00011017',
 'AW00011018',
 'AW00011019',
 'AW00011020',
 'AW00011021',
 'AW00011022',
 'AW00011023',
 'AW00011024',
 'AW00011025',
 'AW00011026',
 'AW00011027',
 'AW00011028',
 'AW00011029',
 'AW00011030',
 'AW00011031',
 'AW00011032',
 'AW00011033',
 'AW00011034',
 'AW00011035',
 'AW00011036',
 'AW00011037',
 'AW00011038',
 'AW00011039',
 'AW00011040',
 'AW00011041',
 'AW00011042',
 'AW00011043',
 'AW00011044',
 'AW00011045',
 'AW00011046',
 'AW00011047',
 'AW00011048',
 'AW00011049',
 'AW00011050',
 'AW00011051',
 'AW00011052',
 'AW00011053',
 'AW00011054',
 'AW00011055',
 'AW00011056',
 'AW00011057',
 'AW00011058',
 'AW00011059',
 'AW00011060',
 'AW00011061',
 'AW00011062',
 'AW00011063',
 'AW00011064',
 'AW00011065',
 'AW00011066',
 'AW00011067',
 'AW00011068',
 'AW00011069',
 'AW00011070',
 'AW00011071',
 'AW00011072',
 'AW00011073',
 'AW00011074',
 'AW00011075',
 'AW00011076',
 'AW00011077',
 'AW00011078',
 'AW00011079',
 'AW00011080',
 'AW00011081',
 'AW00011082',
 'AW00011083',
 'AW00011084',
 'AW00011085',
 'AW00011086',
 'AW00011087',
 'AW00011088',
 'AW00011089',
 'AW00011090',
 'AW00011091',
 'AW00011092',
 'AW00011093',
 'AW00011094',
 'AW00011095',
 'AW00011096',
 'AW00011097',
 'AW00011098',
 'AW00011099',
 'AW00011100',
 'AW00011101',
 'AW00011102',
 'AW00011103',
 'AW00011104',
 'AW00011105',
 'AW00011106',
 'AW00011107',
 'AW00011108',
 'AW00011109',
 'AW00011110',
 'AW00011111',
 'AW00011112',
 'AW00011113',
 'AW00011114',
 'AW00011115',
 'AW00011116',
 'AW00011117',
 'AW00011118',
 'AW00011119',
 'AW00011120',
 'AW00011121',
 'AW00011122',
 'AW00011123',
 'AW00011124',
 'AW00011125',
 'AW00011126',
 'AW00011127',
 'AW00011128',
 'AW00011129',
 'AW00011130',
 'AW00011131',
 'AW00011132',
 'AW00011133',
 'AW00011134',
 'AW00011135',
 'AW00011136',
 'AW00011137',
 'AW00011138',
 'AW00011139',
 'AW00011140',
 'AW00011141',
 'AW00011142',
 'AW00011143',
 'AW00011144',
 'AW00011145',
 'AW00011146',
 'AW00011147',
 'AW00011148',
 'AW00011149',
 'AW00011150',
 'AW00011151',
 'AW00011152',
 'AW00011153',
 'AW00011154',
 'AW00011155',
 'AW00011156',
 'AW00011157',
 'AW00011158',
 'AW00011159',
 'AW00011160',
 'AW00011161',
 'AW00011162',
 'AW00011163',
 'AW00011164',
 'AW00011165',
 'AW00011166',
 'AW00011167',
 'AW00011168',
 'AW00011169',
 'AW00011170',
 'AW00011171',
 'AW00011172',
 'AW00011173',
 'AW00011174',
 'AW00011175',
 'AW00011176',
 'AW00011177',
 'AW00011178',
 'AW00011179',
 'AW00011180',
 'AW00011181',
 'AW00011182',
 'AW00011183',
 'AW00011184',
 'AW00011185',
 'AW00011186',
 'AW00011187',
 'AW00011188',
 'AW00011189',
 'AW00011190',
 'AW00011191',
 'AW00011192',
 'AW00011193',
 'AW00011194',
 'AW00011195',
 'AW00011196',
 'AW00011197',
 'AW00011198',
 'AW00011199',
 'AW00011200',
 'AW00011201',
 'AW00011202',
 'AW00011203',
 'AW00011204',
 'AW00011205',
 'AW00011206',
 'AW00011207',
 'AW00011208',
 'AW00011209',
 'AW00011210',
 'AW00011211',
 'AW00011212',
 'AW00011213',
 'AW00011214',
 'AW00011215',
 'AW00011216',
 'AW00011217',
 'AW00011218',
 'AW00011219',
 'AW00011220',
 'AW00011221',
 'AW00011222',
 'AW00011223',
 'AW00011224',
 'AW00011225',
 'AW00011226',
 'AW00011227',
 'AW00011228',
 'AW00011229',
 'AW00011230',
 'AW00011231',
 'AW00011232',
 'AW00011233',
 'AW00011234',
 'AW00011235',
 'AW00011236',
 'AW00011237',
 'AW00011238',
 'AW00011239',
 'AW00011240',
 'AW00011241',
 'AW00011242',
 'AW00011243',
 'AW00011244',
 'AW00011245',
 'AW00011246',
 'AW00011247',
 'AW00011248',
 'AW00011249',
 'AW00011250',
 'AW00011251',
 'AW00011252',
 'AW00011253',
 'AW00011254',
 'AW00011255',
 'AW00011256',
 'AW00011257',
 'AW00011258',
 'AW00011259',
 'AW00011260',
 'AW00011261',
 'AW00011262',
 'AW00011263',
 'AW00011264',
 'AW00011265',
 'AW00011266',
 'AW00011267',
 'AW00011268',
 'AW00011269',
 'AW00011270',
 'AW00011271',
 'AW00011272',
 'AW00011273',
 'AW00011274',
 'AW00011275',
 'AW00011276',
 'AW00011277',
 'AW00011278',
 'AW00011279',
 'AW00011280',
 'AW00011281',
 'AW00011282',
 'AW00011283',
 'AW00011284',
 'AW00011285',
 'AW00011286',
 'AW00011287',
 'AW00011288',
 'AW00011289',
 'AW00011290',
 'AW00011291',
 'AW00011292',
 'AW00011293',
 'AW00011294',
 'AW00011295',
 'AW00011296',
 'AW00011297',
 'AW00011298',
 'AW00011299',
 'AW00011300',
 'AW00011301',
 'AW00011302',
 'AW00011303',
 'AW00011304',
 'AW00011305',
 'AW00011306',
 'AW00011307',
 'AW00011308',
 'AW00011309',
 'AW00011310',
 'AW00011311',
 'AW00011312',
 'AW00011313',
 'AW00011314',
 'AW00011315',
 'AW00011316',
 'AW00011317',
 'AW00011318',
 'AW00011319',
 'AW00011320',
 'AW00011321',
 'AW00011322',
 'AW00011323',
 'AW00011324',
 'AW00011325',
 'AW00011326',
 'AW00011327',
 'AW00011328',
 'AW00011329',
 'AW00011330',
 'AW00011331',
 'AW00011332',
 'AW00011333',
 'AW00011334',
 'AW00011335',
 'AW00011336',
 'AW00011337',
 'AW00011338',
 'AW00011339',
 'AW00011340',
 'AW00011341',
 'AW00011342',
 'AW00011343',
 'AW00011344',
 'AW00011345',
 'AW00011346',
 'AW00011347',
 'AW00011348',
 'AW00011349',
 'AW00011350',
 'AW00011351',
 'AW00011352',
 'AW00011353',
 'AW00011354',
 'AW00011355',
 'AW00011356',
 'AW00011357',
 'AW00011358',
 'AW00011359',
 'AW00011360',
 'AW00011361',
 'AW00011362',
 'AW00011363',
 'AW00011364',
 'AW00011365',
 'AW00011366',
 'AW00011367',
 'AW00011368',
 'AW00011369',
 'AW00011370',
 'AW00011371',
 'AW00011372',
 'AW00011373',
 'AW00011374',
 'AW00011375',
 'AW00011376',
 'AW00011377',
 'AW00011378',
 'AW00011379',
 'AW00011380',
 'AW00011381',
 'AW00011382',
 'AW00011383',
 'AW00011384',
 'AW00011385',
 'AW00011386',
 'AW00011387',
 'AW00011388',
 'AW00011389',
 'AW00011390',
 'AW00011391',
 'AW00011392',
 'AW00011393',
 'AW00011394',
 'AW00011395',
 'AW00011396',
 'AW00011397',
 'AW00011398',
 'AW00011399',
 'AW00011400',
 'AW00011401',
 'AW00011402',
 'AW00011403',
 'AW00011404',
 'AW00011405',
 'AW00011406',
 'AW00011407',
 'AW00011408',
 'AW00011409',
 'AW00011410',
 'AW00011411',
 'AW00011412',
 'AW00011413',
 'AW00011414',
 'AW00011415',
 'AW00011416',
 'AW00011417',
 'AW00011418',
 'AW00011419',
 'AW00011420',
 'AW00011421',
 'AW00011422',
 'AW00011423',
 'AW00011424',
 'AW00011425',
 'AW00011426',
 'AW00011427',
 'AW00011428',
 'AW00011429',
 'AW00011430',
 'AW00011431',
 'AW00011432',
 'AW00011433',
 'AW00011434',
 'AW00011435',
 'AW00011436',
 'AW00011437',
 'AW00011438',
 'AW00011439',
 'AW00011440',
 'AW00011441',
 'AW00011442',
 'AW00011443',
 'AW00011444',
 'AW00011445',
 'AW00011446',
 'AW00011447',
 'AW00011448',
 'AW00011449',
 'AW00011450',
 'AW00011451',
 'AW00011452',
 'AW00011453',
 'AW00011454',
 'AW00011455',
 'AW00011456',
 'AW00011457',
 'AW00011458',
 'AW00011459',
 'AW00011460',
 'AW00011461',
 'AW00011462',
 'AW00011463',
 'AW00011464',
 'AW00011465',
 'AW00011466',
 'AW00011467',
 'AW00011468',
 'AW00011469',
 'AW00011470',
 'AW00011471',
 'AW00011472',
 'AW00011473',
 'AW00011474',
 'AW00011475',
 'AW00011476',
 'AW00011477',
 'AW00011478',
 'AW00011479',
 'AW00011480',
 'AW00011481',
 'AW00011482',
 'AW00011483',
 'AW00011484',
 'AW00011485',
 'AW00011486',
 'AW00011487',
 'AW00011488',
 'AW00011489',
 'AW00011490',
 'AW00011491',
 'AW00011492',
 'AW00011493',
 'AW00011494',
 'AW00011495',
 'AW00011496',
 'AW00011497',
 'AW00011498',
 'AW00011499',
 'AW00011500',
 'AW00011501',
 'AW00011502',
 'AW00011503',
 'AW00011504',
 'AW00011505',
 'AW00011506',
 'AW00011507',
 'AW00011508',
 'AW00011509',
 'AW00011510',
 'AW00011511',
 'AW00011512',
 'AW00011513',
 'AW00011514',
 'AW00011515',
 'AW00011516',
 'AW00011517',
 'AW00011518',
 'AW00011519',
 'AW00011520',
 'AW00011521',
 'AW00011522',
 'AW00011523',
 'AW00011524',
 'AW00011525',
 'AW00011526',
 'AW00011527',
 'AW00011528',
 'AW00011529',
 'AW00011530',
 'AW00011531',
 'AW00011532',
 'AW00011533',
 'AW00011534',
 'AW00011535',
 'AW00011536',
 'AW00011537',
 'AW00011538',
 'AW00011539',
 'AW00011540',
 'AW00011541',
 'AW00011542',
 'AW00011543',
 'AW00011544',
 'AW00011545',
 'AW00011546',
 'AW00011547',
 'AW00011548',
 'AW00011549',
 'AW00011550',
 'AW00011551',
 'AW00011552',
 'AW00011553',
 'AW00011554',
 'AW00011555',
 'AW00011556',
 'AW00011557',
 'AW00011558',
 'AW00011559',
 'AW00011560',
 'AW00011561',
 'AW00011562',
 'AW00011563',
 'AW00011564',
 'AW00011565',
 'AW00011566',
 'AW00011567',
 'AW00011568',
 'AW00011569',
 'AW00011570',
 'AW00011571',
 'AW00011572',
 'AW00011573',
 'AW00011574',
 'AW00011575',
 'AW00011576',
 'AW00011577',
 'AW00011578',
 'AW00011579',
 'AW00011580',
 'AW00011581',
 'AW00011582',
 'AW00011583',
 'AW00011584',
 'AW00011585',
 'AW00011586',
 'AW00011587',
 'AW00011588',
 'AW00011589',
 'AW00011590',
 'AW00011591',
 'AW00011592',
 'AW00011593',
 'AW00011594',
 'AW00011595',
 'AW00011596',
 'AW00011597',
 'AW00011598',
 'AW00011599',
 'AW00011600',
 'AW00011601',
 'AW00011602',
 'AW00011603',
 'AW00011604',
 'AW00011605',
 'AW00011606',
 'AW00011607',
 'AW00011608',
 'AW00011609',
 'AW00011610',
 'AW00011611',
 'AW00011612',
 'AW00011613',
 'AW00011614',
 'AW00011615',
 'AW00011616',
 'AW00011617',
 'AW00011618',
 'AW00011619',
 'AW00011620',
 'AW00011621',
 'AW00011622',
 'AW00011623',
 'AW00011624',
 'AW00011625',
 'AW00011626',
 'AW00011627',
 'AW00011628',
 'AW00011629',
 'AW00011630',
 'AW00011631',
 'AW00011632',
 'AW00011633',
 'AW00011634',
 'AW00011635',
 'AW00011636',
 'AW00011637',
 'AW00011638',
 'AW00011639',
 'AW00011640',
 'AW00011641',
 'AW00011642',
 'AW00011643',
 'AW00011644',
 'AW00011645',
 'AW00011646',
 'AW00011647',
 'AW00011648',
 'AW00011649',
 'AW00011650',
 'AW00011651',
 'AW00011652',
 'AW00011653',
 'AW00011654',
 'AW00011655',
 'AW00011656',
 'AW00011657',
 'AW00011658',
 'AW00011659',
 'AW00011660',
 'AW00011661',
 'AW00011662',
 'AW00011663',
 'AW00011664',
 'AW00011665',
 'AW00011666',
 'AW00011667',
 'AW00011668',
 'AW00011669',
 'AW00011670',
 'AW00011671',
 'AW00011672',
 'AW00011673',
 'AW00011674',
 'AW00011675',
 'AW00011676',
 'AW00011677',
 'AW00011678',
 'AW00011679',
 'AW00011680',
 'AW00011681',
 'AW00011682',
 'AW00011683',
 'AW00011684',
 'AW00011685',
 'AW00011686',
 'AW00011687',
 'AW00011688',
 'AW00011689',
 'AW00011690',
 'AW00011691',
 'AW00011692',
 'AW00011693',
 'AW00011694',
 'AW00011695',
 'AW00011696',
 'AW00011697',
 'AW00011698',
 'AW00011699',
 'AW00011700',
 'AW00011701',
 'AW00011702',
 'AW00011703',
 'AW00011704',
 'AW00011705',
 'AW00011706',
 'AW00011707',
 'AW00011708',
 'AW00011709',
 'AW00011710',
 'AW00011711',
 'AW00011712',
 'AW00011713',
 'AW00011714',
 'AW00011715',
 'AW00011716',
 'AW00011717',
 'AW00011718',
 'AW00011719',
 'AW00011720',
 'AW00011721',
 'AW00011722',
 'AW00011723',
 'AW00011724',
 'AW00011725',
 'AW00011726',
 'AW00011727',
 'AW00011728',
 'AW00011729',
 'AW00011730',
 'AW00011731',
 'AW00011732',
 'AW00011733',
 'AW00011734',
 'AW00011735',
 'AW00011736',
 'AW00011737',
 'AW00011738',
 'AW00011739',
 'AW00011740',
 'AW00011741',
 'AW00011742',
 'AW00011743',
 'AW00011744',
 'AW00011745',
 'AW00011746',
 'AW00011747',
 'AW00011748',
 'AW00011749',
 'AW00011750',
 'AW00011751',
 'AW00011752',
 'AW00011753',
 'AW00011754',
 'AW00011755',
 'AW00011756',
 'AW00011757',
 'AW00011758',
 'AW00011759',
 'AW00011760',
 'AW00011761',
 'AW00011762',
 'AW00011763',
 'AW00011764',
 'AW00011765',
 'AW00011766',
 'AW00011767',
 'AW00011768',
 'AW00011769',
 'AW00011770',
 'AW00011771',
 'AW00011772',
 'AW00011773',
 'AW00011774',
 'AW00011775',
 'AW00011776',
 'AW00011777',
 'AW00011778',
 'AW00011779',
 'AW00011780',
 'AW00011781',
 'AW00011782',
 'AW00011783',
 'AW00011784',
 'AW00011785',
 'AW00011786',
 'AW00011787',
 'AW00011788',
 'AW00011789',
 'AW00011790',
 'AW00011791',
 'AW00011792',
 'AW00011793',
 'AW00011794',
 'AW00011795',
 'AW00011796',
 'AW00011797',
 'AW00011798',
 'AW00011799',
 'AW00011800',
 'AW00011801',
 'AW00011802',
 'AW00011803',
 'AW00011804',
 'AW00011805',
 'AW00011806',
 'AW00011807',
 'AW00011808',
 'AW00011809',
 'AW00011810',
 'AW00011811',
 'AW00011812',
 'AW00011813',
 'AW00011814',
 'AW00011815',
 'AW00011816',
 'AW00011817',
 'AW00011818',
 'AW00011819',
 'AW00011820',
 'AW00011821',
 'AW00011822',
 'AW00011823',
 'AW00011824',
 'AW00011825',
 'AW00011826',
 'AW00011827',
 'AW00011828',
 'AW00011829',
 'AW00011830',
 'AW00011831',
 'AW00011832',
 'AW00011833',
 'AW00011834',
 'AW00011835',
 'AW00011836',
 'AW00011837',
 'AW00011838',
 'AW00011839',
 'AW00011840',
 'AW00011841',
 'AW00011842',
 'AW00011843',
 'AW00011844',
 'AW00011845',
 'AW00011846',
 'AW00011847',
 'AW00011848',
 'AW00011849',
 'AW00011850',
 'AW00011851',
 'AW00011852',
 'AW00011853',
 'AW00011854',
 'AW00011855',
 'AW00011856',
 'AW00011857',
 'AW00011858',
 'AW00011859',
 'AW00011860',
 'AW00011861',
 'AW00011862',
 'AW00011863',
 'AW00011864',
 'AW00011865',
 'AW00011866',
 'AW00011867',
 'AW00011868',
 'AW00011869',
 'AW00011870',
 'AW00011871',
 'AW00011872',
 'AW00011873',
 'AW00011874',
 'AW00011875',
 'AW00011876',
 'AW00011877',
 'AW00011878',
 'AW00011879',
 'AW00011880',
 'AW00011881',
 'AW00011882',
 'AW00011883',
 'AW00011884',
 'AW00011885',
 'AW00011886',
 'AW00011887',
 'AW00011888',
 'AW00011889',
 'AW00011890',
 'AW00011891',
 'AW00011892',
 'AW00011893',
 'AW00011894',
 'AW00011895',
 'AW00011896',
 'AW00011897',
 'AW00011898',
 'AW00011899',
 'AW00011900',
 'AW00011901',
 'AW00011902',
 'AW00011903',
 'AW00011904',
 'AW00011905',
 'AW00011906',
 'AW00011907',
 'AW00011908',
 'AW00011909',
 'AW00011910',
 'AW00011911',
 'AW00011912',
 'AW00011913',
 'AW00011914',
 'AW00011915',
 'AW00011916',
 'AW00011917',
 'AW00011918',
 'AW00011919',
 'AW00011920',
 'AW00011921',
 'AW00011922',
 'AW00011923',
 'AW00011924',
 'AW00011925',
 'AW00011926',
 'AW00011927',
 'AW00011928',
 'AW00011929',
 'AW00011930',
 'AW00011931',
 'AW00011932',
 'AW00011933',
 'AW00011934',
 'AW00011935',
 'AW00011936',
 'AW00011937',
 'AW00011938',
 'AW00011939',
 'AW00011940',
 'AW00011941',
 'AW00011942',
 'AW00011943',
 'AW00011944',
 'AW00011945',
 'AW00011946',
 'AW00011947',
 'AW00011948',
 'AW00011949',
 'AW00011950',
 'AW00011951',
 'AW00011952',
 'AW00011953',
 'AW00011954',
 'AW00011955',
 'AW00011956',
 'AW00011957',
 'AW00011958',
 'AW00011959',
 'AW00011960',
 'AW00011961',
 'AW00011962',
 'AW00011963',
 'AW00011964',
 'AW00011965',
 'AW00011966',
 'AW00011967',
 'AW00011968',
 'AW00011969',
 'AW00011970',
 'AW00011971',
 'AW00011972',
 'AW00011973',
 'AW00011974',
 'AW00011975',
 'AW00011976',
 'AW00011977',
 'AW00011978',
 'AW00011979',
 'AW00011980',
 'AW00011981',
 'AW00011982',
 'AW00011983',
 'AW00011984',
 'AW00011985',
 'AW00011986',
 'AW00011987',
 'AW00011988',
 'AW00011989',
 'AW00011990',
 'AW00011991',
 'AW00011992',
 'AW00011993',
 'AW00011994',
 'AW00011995',
 'AW00011996',
 'AW00011997',
 'AW00011998',
 'AW00011999',
 ...]

In [85]:
df[~df["cst_key"].str.match(r"AW\d{8}", na=False)]

Empty DataFrame
Columns: [cst_id, cst_key, cst_firstname, cst_lastname, cst_marital_status, cst_gndr, cst_create_date]
Index: []

#### Column "cst_firstname"

In [86]:
df["cst_firstname"] = df["cst_firstname"].str.strip()

#### Column "cst_lastname"

In [87]:
df["cst_lastname"] = df["cst_lastname"].str.strip()

#### column "cst_marital_status"

In [88]:
df["cst_marital_status"].unique()

array(['M', 'S'], dtype=object)

In [89]:
df["cst_marital_status"] = df["cst_marital_status"].replace('M','Married')
df["cst_marital_status"] = df["cst_marital_status"].replace('S','Single')

#### Column "cst_gndr"

In [90]:
df["cst_gndr"].unique()

array(['M', 'F', None], dtype=object)

In [91]:
df["cst_gndr"] = df["cst_gndr"].replace('F','Female')
df["cst_gndr"] = df["cst_gndr"].replace('M','Male')
df["cst_gndr"] = df["cst_gndr"].fillna('Unknown')

## Load Transformed Data into SQL Server

In [92]:
# Load the transformed "cust_info" data into the silver layer

server = 'mohamedibrahim'
database = 'DataWarehouse'

connection_string = (
    f'mssql+pyodbc://mohamedibrahim/DataWarehouse'
    '?driver=ODBC+Driver+17+for+SQL+Server'
    '&Trusted_Connection=yes'
)

engine = create_engine(connection_string)

df.to_sql(
    name='crm_cust_info',
    schema='silver',
    con=engine,   
    if_exists='append',
    index=False
)

245